<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/Images/Afrobeats-favicon.svg"
  />
  <link rel="stylesheet" href="/CSS/nav.css">
    <title>Event</title>
</head>
<body>
    <div><h1>Page under-construction</h1><img src="/Images/underconstru/underconstruction.svg" alt="under-construction"></div>
</body>
</html>